// COLOUR PALETTE
$white: #fff; // White
$black: #000000; // Black

$footer_black: #686868;

// Grey
$grey: #cccccc; 
$font_grey: #878787;
$font_grey_v2: #797979;
$border_grey: #e2e2df;
$border_light_grey: #d0d0d0;
$footer_grey: #c2c2c2;
$nav_grey: #e2e2e2;
$input_grey: #969696;
// Blue
$blue: #1a4055;
$light_blue: #333333;
$turquiose: #417280;
$form_blue: #7ea8e2;

// Pink
$pink: #fe8f8c;

// Red
$red: #ef4d51;