// QCTM
// CONTACT STYLESHEET

.form_section {
	padding: 100px 0;
	overflow: hidden;
}
.form_section h3 {
	color: $black;
}

// Form Into block
.form_intro {
	padding-right: 70px;
}

.form_section .form_container {
	width: 100%;
}

// Contact Form
.form_container {
	font-family: "FuturaStd-Book", sans-serif;
}